/* 
  - Author(s): LIEW KHYE LERK(P1937000), ERIC NG YONG WEI(P1940211);
  - Date: 29/5/20;
*/
@charset "utf-08";

.navbar-custom { 
    background-color: rgb(34,38,48); 
} 

body {
			    background-color: rgb(28,28,28);
	
}

.container {
		box-shadow: 0 3px 10px 0 rgba(44,44,45,.07), inset 0 0 0 1px rgba(44,44,45,.07);
	    border-radius: 8px;
			    background-color: rgb(35,38,47)!important;
	
}

.card {
	border: 0px !important;
					    background-color: rgb(35,38,47)!important;
	
}

.margin{
	padding: 10px;
	margin-top: 50px;
}

.cardProduct:hover {
        box-shadow: 0px 0px 26px -2px rgba(55,55,55,0.1);
	    border-radius: 8px;
	    background-color: rgb(58,65,82)!important;
	    transition: 0.3s;
}

a:hover {
	text-decoration: none;
	color: white
}

a{
	color: white;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
